[submodule "TTE.project1"]
	path = TTE.project1
	url = https://github.com/ramp-eu/TTE.project1
[submodule "TTE.project2"]
	path = TTE.project2
	url = https://github.com/ramp-eu/TTE.project2
[submodule "sensing_perception_local"]
	path = sensing_perception_local
	url = https://github.com/ramp-eu/mod.iot.sp.local
[submodule "sensing_perception_central"]
	path = sensing_perception_central
	url = https://github.com/ramp-eu/mod.sw.sp
